<div id="kreu" class="w-full flex flex-col items-start justify-start md:pt-32 md:mb-52 mb-20">
  <div class="w-full flex md:flex-row flex-col items-center justify-center">
    <div class="md:w-1/2 w-full md:mb-0 mb-20 flex flex-col md:items-start items-center justify-start gap-5 md:text-left text-center">
      <app-badge></app-badge>
      <app-title size="md:text-[72px] text-[68px]" weight="font-bold">Unioni Studentor <br/> Musliman Shqiptar</app-title>
      <app-title size="text-[32px]" color="text-usm-red">Bashkon Studentët Muslimanë <br class="md:block hidden"/> në të gjithë Shqipërinë.</app-title>
      <div class="md:w-1/3 w-[300px] mt-5">
        <app-button background="bg-transparent"
                    border="border-[3px] border-usm-red"
                    text="text-usm-red text-[22px] font-semibold"
                    hover="transition-colors delay-100 duration-300 hover:bg-usm-red hover:text-white">
          <a href="#rrethnesh">Më shumë</a>
        </app-button>
      </div>
    </div>
    <div class="md:w-1/2 w-full flex flex-col items-center gap-2">
      <img src="assets/images/Taha114(1).png" alt="...and say my Lord increase me in knowledge" class="w-[500px] min-w-[200px]">
      <app-title color="text-usm-red" size="text-[32px]" weight="font-semibold" font="italic text-center">"...dhe thuaj: Zoti im, më shto dituri!"</app-title>
    </div>
  </div>
</div>
