<div id="veprimtaria" class="bg-transparent w-full pt-24 sm:pt-32 mb-10">
  <div class="gradient_spot absolute right-20 opacity-60 z-0"></div>
  <div class="mx-auto px-6 lg:px-20">
    <div class="relative mx-auto max-w-2xl lg:mx-0 z-50">
      <h2 class="text-[48px] font-bold tracking-tight text-gray-900">Aktivitetet Tona</h2>
      <p class="text-[24px] mt-2 leading-8 text-usm-red">Learn how to grow your activity with our expert advice.</p>
    </div>
  </div>
</div>
<div class="bg-transparent w-full border-t border-gray-200">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:pb-24 lg:max-w-none lg:pb-32">

      <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-01.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
          </div>
          <p class="text-base font-semibold text-gray-900 mt-6">Udhetim ne Stamboll</p>
          <h3 class="text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Work from home accessories
            </a>
          </h3>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-02.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
          </div>
          <p class="text-base font-semibold text-gray-900 mt-6">Umra me cunat</p>
          <h3 class="text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Journals and note-taking
            </a>
          </h3>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-03.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <p class="text-base font-semibold text-gray-900 mt-6 ">Bosnje me cunat</p>
          <h3 class="text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Bosnje me cunat
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
