<div class="flex flex-row p-6 rounded-[20px] bg-usm-red bg-opacity-80">
  <div class="w-[64px] h-[64px] rounded-full ${styles.flexCenter} bg-dimBlue">
    <img src="" alt="star" class="w-[50%] h-[50%] object-contain" />
  </div>
  <div class="flex-1 flex flex-col ml-3 text-left">
    <app-title size="text-[18px] leading-[23.4px] mb-1 text-left" color="text-white">Aspirojmë unitet</app-title>
    <app-title size="text-[16px] leading-[24px]" color="text-dimWhite">Aspirojmë unitet përmes veprave unitet përmes veprave unitet përmes veprave</app-title>
  </div>
</div>
