//@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


* {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.gradient__white {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.gradient__feature {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.gradient_spot {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  filter: blur(150px);
}

.hero-bg {
  opacity: 0.2;
  width: 1200px;
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  mask-mode: alpha;
  background-image: url("assets/images/new-pattern.jpg");
}
